.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    flex-basis: 100vw;
    text-align: center;
}

.contact-button {
    flex-basis: 100vw;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 425px) {
    .title {
        flex-grow: 1;
        flex-basis: auto;
    }

    .logo {
        order: -1;
    }

    .contact-button {
        flex-basis: auto;
    }
}
