p {
    max-width: 30em;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    flex-basis: 100vw;
    text-align: center;
}

.contact-button {
    flex-basis: 100vw;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stories h2 {
    flex-basis: 100%;
    text-align: center;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 425px) {
    .title {
        flex-grow: 1;
        flex-basis: auto;
    }

    .logo {
        order: -1;
    }

    .contact-button {
        flex-basis: auto;
    }
}

/* TODO Provide styling for the stories module after 1440 px width */
