{% extends "layout.njk" %}

{% block content %}
    <header class="header">
        <h1>Creativo PTY</h1>
    </header>
    <div class="logo">
        <img src="http://lorempixel.com/g/100/100/abstract" alt="Logo" />
    </div>
    <div class="contact-us">
        Please contact us!
    </div>
    <div class="story">
        I tell awesome stories!
    </div>
    <div class="portfolio">
        Here I would place my websites, if I had any...
    </div>
    <div class="contact-us">
        You still have not contacted us? This is your opportunity!
    </div>
{% endblock %}
