{% extends "layout.njk" %}

{% block content %}
    <main class="main">
        <div class="about-us">
            <h2>About Us</h2>
            <p>
                Proin dapibus felis a convallis vestibulum. Quisque volutpat
                vitae nisl et bibendum. Curabitur pharetra nunc massa, sit
                amet elementum ligula tempus vitae. Quisque rhoncus accumsan
                libero, eget volutpat augue dapibus ut. Fusce ultrices
                volutpat justo, non convallis odio mattis sed. Cras id nisi
                id odio efficitur convallis. Aliquam ac mi rhoncus, fringilla
                lectus et, convallis sapien. Suspendisse at libero felis.
                Sed aliquam ante sed sem consectetur, at tempor risus
                accumsan. Fusce a ipsum vitae nisl commodo aliquam.
            </p>
        </div>
        <div class="stories">
            <h2>I tell awesome stories!</h2>
            {% for i in range(0, 6) %}
                <figure class="story">
                    <img src="/images/svg300.png" alt="SVG Animation" width="300" height="300" />
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Aliquam at metus ante. Aenean vulputate nisi
                        metus, sed aliquet sem consequat non. Vestibulum
                        accumsan ullamcorper suscipit. Nulla a est mauris.
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
        <div class="portfolio">
            <h2>Portfolio</h2>
            <p>
                Here I would place my websites, if I had any...
            </p>
        </div>
        <div class="contact-us">
            <h2>Contact Us</h2>
            <p>
                You still have not contacted us? This is your opportunity!
            </p>
        </div>
    </main>
{% endblock %}
