{% extends "layout.njk" %}

{% block content %}
    <main class="main">
        {% include "partials/about-us.njk" %}
        {% include "partials/stories.njk" %}
        {% include "partials/portfolio.njk" %}
        <div class="contact-us">
            <h2>Contact Us</h2>
            <p>
                You still have not contacted us? This is your opportunity!
            </p>
        </div>
    </main>
{% endblock %}
